<div class="container">

    <h1>Searcher</h1>

    <select class="form-select" aria-label="Default select example">
        <option selected> Choose a genre </option>
        {{#each genres}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

</div>