<div class="container mt-5">

    <h1>Detalles de {{character.name}}</h1>

    <hr>

    <p>Tiene como arma {{character.weapon}}, como ID el {{character.id}} y trabaja de {{character.occupation}}</p>

    <a href="/personajes/listado" class="btn btn-dark">Volver al listado</a>

</div>