<form class="d-flex" role="search" method="post" action="/communities">
    <input class="form-control me-2" type="search" placeholder="Community name" aria-label="Search" name="name">
    <input class="form-control me-2" type="search" placeholder="Description" aria-label="Search" name="description">
    <button class="btn btn-outline-success" type="submit">Create</button>
</form>