<p>{{name}}</p>
<p>{{description}}</p>


<form action="/addcommunity/{{_id}}" method="post">
    <button type="submit">Join the community</button>
</form>


<a href="/community/forum/{{_id}}">Go to the forum</a>