<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Write your comment:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Is my favorite film..."
        name="text">
    <button type="submit">Add comment</button>
</div>