<div class=" container card mx-auto" style="width: 18rem;">
    <img src="{{user.avatar}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>
        <p class="card-text">{{user.email}}.</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#" class="card-link icon-link icon-link-hover">Watch List</a></li>
        <li class="list-group-item"><a href="#" class="card-link icon-link icon-link-hover">Communities</a></li>
    </ul>
    <div class="card-body">
        <a href="/editprofile" class="card-link icon-link icon-link-hover">Edit profile</a>
    </div>
</div>